{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <div class="adh-header flex flex-col md:flex-row " >
        <img class="adh-img" src="{{ setting ? setting.photoPresident :  '#' }}" />
        <div class="p-6" >
            <h2 class="text-white text-xl font-semibold" >{{ setting ? setting.president : '' }}</h2>
            <p class="text-white" >Formulaire d'enregistrement des membres</p>
            <p class="text-white" >Bienvenue, merci de vous enregister comme membre chez  {{ setting ? setting.messageEnregistrement : '' }}</p>
        </div>
    </div>
    <h3 class="text-2xl font-light text-gray-600 mt-3" >Formulaire d'enregistrement</h3>
    <hr class="mt-4 mb-4" />
    <div class="p-6 space-y-3">
        {% include "membre/form.html.twig" %}
    </div>
</div>
{% endblock %}
