{% extends 'dash.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="mb-3 text-md font-200 tracking-tight uppercase text-gray-900 dark:text-white  mt-3">Fédérations Existantes
        </h3>
    </div>
{% endblock %}